.explore__table {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.explore__link {
  font-size: 1.4rem;
  color: green;
  text-decoration: underline;
}

.explore__link:hover,
.explore__link:focus {
  color: lightgreen;
}
