.survey__form {
  box-sizing: border-box;
  height: 50vh;
  width: 80vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.form__input {
  margin: 1rem 2rem;
  background-color: white;
  color: rgb(20, 160, 20);
  border: 1px currentColor solid;
  padding: 0.5rem 0.3rem;
  border-radius: 5px;
  display: inline-block;
  margin-right: auto;
}

.submit__btn {
  all: unset;
  background-color: white;
  color: rgb(20, 160, 20);
  padding: 0.3rem 0.6rem;
  border: 1px currentColor solid;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
}

@media screen and (max-width: 600px) {
  .login__form {
    width: 90vw;
    /* height: 80vh */
    height: auto;
    border: none;
    box-shadow: none;
  }
}
