:root {
  --limegreen: rgb(20, 160, 20);
  text-align: center;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: currentColor;
}

.landing__container {
  min-height: 100%;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing__text {
  font-size: 1.1rem;
  align-self: flex-end;
  color: var(--limegreen);
}

.landing__image {
  height: 50vh;
  width: 50vh;
  /* background-image: linear-gradient(33deg, lime, lightgreen); */
}

.process {
}

.process__title {
  font-size: 2.5rem;
  padding: 0 0;
}

.process__step {
  display: grid;
  /* justify-content: center; */
  -ms-align-items: center;
  align-items: center;
  height: 20vh;
}

.process__step--dark {
  background-color: rgb(218, 242, 210);
}

.footer {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

.footer__link {
  margin: auto;
  color: var(--limegreen);
  border: 1px var(--limegreen) solid;
  border-radius: 15px;
  transition: color 150ms ease-in, border 150ms ease-in;
  font-size: 1.6em;
  padding: 1rem 2rem;
}

.footer__link:hover {
  color: white;
  background-color: var(--limegreen);
}

.footer__bottom-bar {
  margin-top: auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
  /* -ms-align-items: center; */
  /* align-items: center; */
  width: 100%;
  padding-bottom: 5px;
}

.bottom-bar__item {
  color: var(--limegreen);
  display: inline-block;
}
